- if (!pjax) {
!!!5
html
  include inc/header
  body
    #wrap
      include inc/nav
      #container.container
        block content
       #push
    include inc/footer

    include inc/scripts
- } else {
block content
- }
