extends layout
block content
  form.form-signin(method="post", novalidate)
    h2.form-signin-heading Login
    input.input-block-level(type='email', placeholder='Username or Email', name="username")
    input.input-block-level(type='password', placeholder='Password', name="password")
    button.btn.btn-large.btn-primary(type='submit') Login