extends layout
block content
  form.form-signin(method="post")
    h2.form-signin-heading Registration
    input.input-block-level(type='text', placeholder='First Name', name="name")
    input.input-block-level(type='text', placeholder='Last Name', name="last_name")
    input.input-block-level(type='email', placeholder='Email address', name="email")
    input.input-block-level(type='text', placeholder='Username', name="username")
    input.input-block-level(type='password', placeholder='Password', name="password")
    input.input-block-level(type='password', placeholder='Repeat Password', name="password_repeat")
    button.btn.btn-large.btn-primary(type='submit') Register