extends layout
block content
  .row-fluid
    .span3
      img.img-polaroid(src='http://placehold.it/350x350')
    .span7.hero-unit(id="user_info")
      p bla bla
        |bla bla
    .span2
      .well.sidebar-nav
        ul.nav.nav-list
            li
              a(href='/user/viewers') Profile viewers
            li
              a(href='/user/edit') Edit profile
            li
              a(href='/user/settings') Settings
            -if(user.staff)
              li
                a(href='/staff') Staff page
            li
              a(href='/logout') Logout